# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv
venv/
ENV/
env/

# PyInstaller
*.manifest
*.spec

# PyQt
*.ui
*.qrc

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.db
*.log
*.keras
*.h5
*.pt
*.pth
*.onnx
*.tflite
desktop/src/models/
src/data/user_data/
users.json